/* NORMALIZER */

:root {
  font-size: 16px;

  /* Colors */
  --white: #fff;
  --black: #000;
  --blackyblue:#15133C;
  --grise:#73777B;
  --orange:#EC994B;
  --light:#F1EEE9;

}


* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul,li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a,
a:active,
a:focus,
a:hover {
  text-decoration: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}


/* Utility */
body.dark-body{
  background-color: var(--blackyblue);
}
.container {
      margin: 0 auto;
      background-color: var(--light);
      width: 100%;
      height: 100vh;
      max-width: 1000px;
      padding: 0 1rem;
      margin: 1rem auto;
      border-radius: 2rem;
    }

    /* Header  */
h1{
  font-family: 'Exo 2', sans-serif;
  text-align: center;
  font-size: 3rem;
}

.task-form {

  gap: 2rem;
}


/* SECTION Tasks */


#add-task{
  font-family: 'Exo 2', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}

.task-input {
  display: flex;
}



.task-list {
  margin-top: 3rem;
  background-color: var(--grise);
  font-size: 1.5rem;

}

.task-form {
  padding: 2rem 2rem;
}